<div class="container">
    <section class="block-text-color">
    <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns is-vcentered">
                    <div class="column is-8">
                        <h2 class="title is-2 is-uppercase">{{ content.field_block_color_title}}</h2>
                        <p>
                            {{ content.field_block_color_text}}
                        </p>
                    </div>
                    <div class="column is-4">
                        <a class="button is-blue is-uppercase" href="{{ content.field_block_color_button.0['#url'] }}">{{ content.field_block_color_button.0['#title'] }}</a>
                    </div>
                </div>
            </div>
    </div>
</section>
</div>
