
    <div class="puff--wrap">
        {{ content.field_puff_image }}
        <div class="overlay"></div>
        <h2 class="puff--wrap--title is-centered">
            {{ content.field_puff_title }}
        </h2>
    </div>
