<section class="hero is-fullheight">
    <div class="hero-image">
        <div class="overlay"></div>
        {{ content.field_hero_image }}
    </div>
    {# Header hero region + search #}
    <div class="hero-body is-primary">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <h1 class="title">{{ content.field_hero_title }}</h1>
                    <h2 class="subtitle">{{ content.field_hero_subtitle }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
